<div class="row section-container">
  <h4>Education Details</h4>
  <hr>
  <div [formGroup]="educationalDetailsForm">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <thead>
        <th class="text-center padding-one">Qualification with Specialization</th>
        <th class="text-center padding-one">Institution Name & City(School/College)</th>
        <th class="text-center padding-one">University Name & City / Board Affiliated To</th>
        <th class="text-center padding-one">StudentID/Reg No.</th>
        <th class="text-center padding-one">Period of Qualification (From-To) yyyy</th>
        <th class="text-center padding-one">Year of Passing</th>
        <th class="text-center padding-one">Average % of marks / CGPA</th>
      </thead>
      <tbody>
        <tr *ngFor="let specialization of specializations" formGroupName="{{specialization}}">
          <td>
            <input
              type="text"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="specializationName"
              formControlName="specializationName"
              placeholder="{{ specializationsText[specialization] }}"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.telephone')" />
          </td>
          <td>
            <input
              type="text"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="institutionName"
              formControlName="institutionName"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.institutionName')" />
          </td>
          <td>
            <input
              type="text"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="boardAffiliated"
              formControlName="boardAffiliated"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.boardAffiliated')" />
          </td>
          <td>
            <input
              type="text"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="registerNumber"
              formControlName="registerNumber"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.registerNumber')" />
          </td>
          <td>
            <input
              type="text"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="period"
              formControlName="period"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.period')" />
          </td>
          <td>
            <input
              min="1990"
              type="number"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="passingYear"
              formControlName="passingYear"
              placeholder="yyyy"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.passingYear')" />
          </td>
          <td>
            <input
              type="number"
              min="40"
              max="100"
              required="{{ specialization !== 'postGraduation' }}"
              class="table-input padding-one"
              name="markScored"
              placeholder="eg: 82"
              formControlName="markScored"
              [requiredErrorMessage]="'Required'"
              [showErrorMessage]="false"
              [appValidate]="educationalDetailsForm.get(specialization + '.markScored')" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row form-group">
      <div class="col-xs-4">
        <label for="gapReason">State reasons for gap in education (if any)</label>
        <textarea class="form-control" id="gapReason" name="gapReason" formControlName="gapReason"></textarea>
      </div>
    </div>
  </div>
</div>
