<div class="row section-container">
  <h4>ID Details</h4>
  <hr>
  <div [formGroup]="idDetailsForm">
    <div class="row form-group">
      <div class="col-xs-6">
        <label for="nationality">Nationality</label>
        <input
          required
          type="text"
          class="form-control"
          id="nationality"
          name="nationality"
          pattern="[a-zA-Z ]*"
          formControlName="nationality"
          autocomplete="off"
          [requiredErrorMessage]="'Nationality is required'"
          [patternErrorMessage]="'Only alphabets are allowed'"
          [appValidate]="idDetailsForm.get('nationality')" />
      </div>
      <div class="col-xs-6">
        <label for="passportNumber">Passport Number</label>
        <input
          required
          type="text"
          class="form-control"
          id="passportNumber"
          name="passportNumber"
          pattern="[a-zA-Z0-9]*"
          formControlName="passportNumber"
          autocomplete="off"
          [requiredErrorMessage]="'Passport Number is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="idDetailsForm.get('passportNumber')" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">
        <label for="pan">PAN</label>
        <input
          required
          type="text"
          class="form-control"
          id="pan"
          name="pan"
          pattern="[a-zA-Z0-9]*"
          formControlName="pan"
          autocomplete="off"
          [requiredErrorMessage]="'PAN is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="idDetailsForm.get('pan')" />
      </div>
      <div class="col-xs-6">
        <label for="nsrNumber">NASSCOM-NSR(NationalSkillsRegistry)ITPIN Number</label>
        <input
          required
          type="text"
          class="form-control"
          id="nsrNumber"
          name="nsrNumber"
          pattern="[a-zA-Z0-9]*"
          formControlName="nsrNumber"
          autocomplete="off"
          [requiredErrorMessage]="'NASSCOM-NSR ITPIN Number is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="idDetailsForm.get('nsrNumber')" />
      </div>
    </div>
  </div>
</div>
