<div class="row section-container">
  <h4>Employment Details</h4>
  <hr>
  <ol class="text-danger">
    <li>
      <p>
        Ensure that you are descriptive wherever necessary – e.g. If your previous company is closed
        down, please do mention it. Location & Employee Code/ ID/ Number is mandatory. If your
        previous employer did not provide the Employee ID, please mention and state reasons for the
        same
      </p>
    </li>
    <li>
      <p>
        Employment details should be of the company you are on payrolls of, not of a company
        you are deputed to on an assignment with. In case you are showing employments
        experience in a skill enabling or professional Training institute, the same should only be
        shown if you were on the payrolls of such an institute.
      </p>
    </li>
  </ol>
  <br>
  <div [formGroup]="employeeFormGroup">
      <div formArrayName="previousEmployers">
        <div *ngFor="let employer of employersControls(); let i = index" >
          <div formGroupName="{{i}}">
            <h4 class="title-sixteen">Employer {{ i+1 }}</h4>
            <div class="row form-group">
              <div class="col-xs-6">
                <label>Organization Name</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  pattern="[a-zA-Z0-9 ]*"
                  formControlName="organizationName"
                  autocomplete="off"
                  [requiredErrorMessage]="'Organization Name is required'"
                  [patternErrorMessage]="'Only alphabets and numbers are allowed'"
                  [appValidate]="employer.get('organizationName')" />
              </div>
              <div class="col-xs-6">
                <label>Address (Branch Name)</label>
                <textarea
                  required
                  class="form-control"
                  formControlName="address"
                  [requiredErrorMessage]="'Address is required'"
                  [appValidate]="employer.get('address')" >
                </textarea>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6">
                <label>Employee ID</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  formControlName="employeeId"
                  autocomplete="off"
                  [requiredErrorMessage]="'Employee ID is required'"
                  [patternErrorMessage]="'Only alphabets and numbers are allowed'"
                  [appValidate]="employer.get('employeeId')" />
              </div>
              <div class="col-xs-6">
                <label>Type of Employment</label>
                <div class="radio">
                  <label>
                    <input name="employmentType" type="radio" value="permanent" formControlName="employmentType" />Permanent
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="employmentType" type="radio" value="contract" formControlName="employmentType" />Contract
                  </label>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6" formGroupName="employmentPeriod">
                <p style="font-weight: 700;">Period of Employment</p>
                  <div class="col-xs-4">
                    <input
                      required
                      type="text"
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="from"
                      formControlName="from"
                      autocomplete="off"
                      ngbDatepicker
                      #periodFromDob="ngbDatepicker"
                      (click)="periodFromDob.open()"
                      ng-readonly="true"
                      [minDate]="{year: 1900, month: 01, day: 01}"
                      [requiredErrorMessage]="'From date is required'"
                      [appValidate]="employer.get('employmentPeriod.from')" />
                  </div>
                  <div style="float: left; height: 34px;">
                    <span style="vertical-align: middle;"> - </span>
                  </div>
                  <div class="col-xs-4">
                    <input
                      required
                      type="text"
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="to"
                      formControlName="to"
                      autocomplete="off"
                      ngbDatepicker
                      #periodToDob="ngbDatepicker"
                      (click)="periodToDob.open()"
                      ng-readonly="true"
                      [minDate]="{year: 1900, month: 01, day: 01}"
                      [requiredErrorMessage]="'To date is required'"
                      [appValidate]="employer.get('employmentPeriod.to')" />
                  </div>
              </div>
              <div class="col-xs-6">
                <label>Last Designation held</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  formControlName="lastDesignation"
                  pattern="[a-zA-Z ]*"
                  autocomplete="off"
                  [requiredErrorMessage]="'Designation Name is required'"
                  [patternErrorMessage]="'Only alphabets and are allowed'"
                  [appValidate]="employer.get('lastDesignation')" />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6">
                <label>Last Drawn Salary</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  formControlName="lastSalary"
                  autocomplete="off"
                  [requiredErrorMessage]="'Salary is required'"
                  [appValidate]="employer.get('lastSalary')" />
              </div>
            </div>
            <div class="row form-group" formGroupName="reportedTo">
              <h4 class="title-sixteen" style="margin-left: 15px;">Reported To</h4>
              <div class="col-xs-4">
                <label>Name</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  formControlName="name"
                  pattern="[a-zA-Z ]*"
                  autocomplete="off"
                  [requiredErrorMessage]="'Name is required'"
                  [patternErrorMessage]="'Only alphabets are allowed'"
                  [appValidate]="employer.get('reportedTo.name')" />
              </div>
              <div class="col-xs-4">
                <label>Designation</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  pattern="[a-zA-Z ]*"
                  formControlName="designation"
                  autocomplete="off"
                  [requiredErrorMessage]="'Designation Name is required'"
                  [patternErrorMessage]="'Only alphabets are allowed'"
                  [appValidate]="employer.get('reportedTo.designation')" />
            </div>
              <div class="col-xs-4">
              <label>Contact No</label>
              <input
                required
                type="text"
                class="form-control"
                pattern="[0-9+ ]*"
                formControlName="number"
                autocomplete="off"
                [requiredErrorMessage]="'Contact No is required'"
                [patternErrorMessage]="'Only numbers are allowed'"
                [appValidate]="employer.get('reportedTo.number')" />
            </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6">
                <label>Reason for Leaving</label>
                <textarea
                  required
                  class="form-control"
                  formControlName="reasonForLeaving"
                  [requiredErrorMessage]="'Reason is required'"
                  [appValidate]="employer.get('reasonForLeaving')" >
                </textarea>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6">
                <label>Mode of Separation</label>
                <div class="radio">
                  <label>
                    <input
                      name="separationMode"
                      type="radio"
                      value="resignation"
                      formControlName="separationMode"
                      (click)="showSeparationReason(i, 'resignation')" />Resignation
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input
                      name="separationMode"
                      type="radio"
                      value="termination"
                      formControlName="separationMode"
                      (click)="showSeparationReason(i, 'termination')" />Termination
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input
                      name="separationMode"
                      type="radio"
                      value="absconded"
                      formControlName="separationMode"
                      (click)="showSeparationReason(i, 'absconded')" />Absconded
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input
                      name="separationMode"
                      type="radio"
                      value="operationsClosed"
                      formControlName="separationMode"
                      (click)="showSeparationReason(i, 'operationsClosed')" />Closed Operations
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input
                      name="separationMode"
                      type="radio"
                      value="other"
                      formControlName="separationMode"
                      (click)="showSeparationReason(i, 'other')" />Other
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="separationReasonEle[i]" class="row form-group">
              <div class="col-xs-6">
                <label>Specify the reason</label>
                <textarea
                  required
                  class="form-control"
                  formControlName="separationReason"
                  [requiredErrorMessage]="'Reason is required'"
                  [appValidate]="employer.get('separationReason')" >
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-default" type="button" (click)="addEmployer()">Add Employer</button>
      </div>
  </div>
</div>
