<div class="row section-container" [formGroup]="referenceDetailsForm">
  <h4>Reference Details</h4>
  <hr>
  <p>Please provide details pertaining to only career experience. Personal details will be considered invalid</p>
  <div *ngFor="let reference of references" formGroupName="{{reference}}">
    <h4 class="title-sixteen">Reference {{reference}} (Supervisor)</h4>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label>Name</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          name="name"
          formControlName="name"
          autocomplete="off"
          [requiredErrorMessage]="'Name is required'"
          [patternErrorMessage]="'Only alphabets are allowed'"
          [appValidate]="referenceDetailsForm.get(reference + '.name')" />
      </div>
      <div class="col-xs-4 ">
        <label>Designation</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          name="designation"
          formControlName="designation"
          autocomplete="off"
          [requiredErrorMessage]="'Designation is required'"
          [patternErrorMessage]="'Only alphabets are allowed'"
          [appValidate]="referenceDetailsForm.get(reference + '.designation')" />
      </div>
      <div class="col-xs-4 ">
        <label>Organization Name</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          name="organization"
          formControlName="organization"
          autocomplete="off"
          [requiredErrorMessage]="'Organization Name is required'"
          [patternErrorMessage]="'Only alphabets are allowed'"
          [appValidate]="referenceDetailsForm.get(reference + '.organization')" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label>Contact Number</label>
        <input
          required
          type="number"
          class="form-control"
          pattern="[0-9+ ]*"
          name="number"
          formControlName="number"
          autocomplete="off"
          [requiredErrorMessage]="'Contact Number is required'"
          [patternErrorMessage]="'Only numbers are allowed'"
          [appValidate]="referenceDetailsForm.get(reference + '.number')" />
      </div>
      <div class="col-xs-4 ">
        <label>Email ID</label>
        <input
          required
          type="email"
          class="form-control"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          name="email"
          formControlName="email"
          autocomplete="off"
          [requiredErrorMessage]="'Email ID is required'"
          [patternErrorMessage]="'Invalid format for Email ID'"
          [appValidate]="referenceDetailsForm.get(reference + '.email')" />
      </div>
      <div class="col-xs-4 ">
        <label>Period of Acquaintance <small>(Example: Sept 07 to July 10)</small></label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          name="period"
          formControlName="period"
          autocomplete="off"
          [requiredErrorMessage]="'Period of Acquaintance is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="referenceDetailsForm.get(reference + '.period')" />
      </div>
    </div>
  </div>
</div>
