<div class="row section-container">
  <h4>Emergency Details</h4>
  <hr>
  <div [formGroup]="emergencyDetailsForm">
    <div class="row form-group">
      <div class="col-xs-6">
        <label for="bloodGroup">Blood Group</label>
        <input
          required
          type="text"
          class="form-control"
          id="bloodGroup"
          name="bloodGroup"
          formControlName="bloodGroup"
          autocomplete="off"
          [requiredErrorMessage]="'Blood Group is required'"
          [appValidate]="emergencyDetailsForm.get('bloodGroup')" />
      </div>
      <div class="col-xs-6">
        <label for="bloodGroup">Allergic To</label>
        <textarea
          class="form-control"
          id="allergicTo"
          name="allergicTo"
          formControlName="allergicTo"></textarea>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">
        <label for="bloodPressure">Blood Pressure</label>
        <input
          type="text"
          class="form-control"
          id="bloodPressure"
          name="bloodPressure"
          formControlName="bloodPressure"
          autocomplete="off" />
      </div>
      <div class="col-xs-6">
        <label for="sugar">Sugar</label>
        <input
          type="text"
          class="form-control"
          id="sugar"
          name="sugar"
          formControlName="sugar"
          autocomplete="off" />
      </div>
    </div>
    <div>
      <p>Eye Sight</p>
      <div class="row form-group">
        <div class="col-xs-6">
          <div class="col-xs-3">
            <label for="eyeSightLeft">Left</label>
            <input
              type="text"
              class="form-control"
              id="eyeSightLeft"
              name="eyeSightLeft"
              formControlName="eyeSightLeft"
              autocomplete="off" />
          </div>
          <div class="col-xs-3">
            <label for="eyeSightRight">Right</label>
            <input
              type="text"
              class="form-control"
              id="eyeSightRight"
              name="eyeSightRight"
              formControlName="eyeSightRight"
              autocomplete="off" />
          </div>
        </div>
        <div class="col-xs-6">
          <label for="illness">Any major illness</label>
          <textarea
            class="form-control"
            id="illness"
            name="illness"
            formControlName="illness"></textarea>
        </div>
      </div>
    </div>
    <div>
      <p>Contact person in case of Emergency</p>
      <div class="col-xs-3">
        <label for="emergencyContactName">Name</label>
        <input
          required
          type="text"
          class="form-control"
          id="emergencyContactName"
          name="emergencyContactName"
          formControlName="emergencyContactName"
          autocomplete="off"
          [requiredErrorMessage]="'Contact Name is required'"
          [appValidate]="emergencyDetailsForm.get('emergencyContactName')" />
      </div>
      <div class="col-xs-3">
        <label for="emergencyContactNumber">Phone number</label>
        <input
          required
          type="text"
          class="form-control"
          id="emergencyContactNumber"
          name="emergencyContactNumber"
          formControlName="emergencyContactNumber"
          autocomplete="off"
          [requiredErrorMessage]="'Contact Number is required'"
          [appValidate]="emergencyDetailsForm.get('emergencyContactNumber')" />
      </div>
      <div class="col-xs-6">
        <label for="emergencyContactAddress">Address</label>
        <textarea
          required
          class="form-control"
          id="emergencyContactAddress"
          name="emergencyContactAddress"
          formControlName="emergencyContactAddress"
          [requiredErrorMessage]="'Address is required'"
          [appValidate]="emergencyDetailsForm.get('emergencyContactAddress')" >
        </textarea>
      </div>
    </div>
  </div>
</div>

