<div class="row section-container" [formGroup]="addressDetailsForm">
  <h4>Address Details</h4>
  <hr>
  <div *ngFor="let addressType of addressTypes" formGroupName="{{addressType}}">
    <h4 class="title-sixteen">
      {{ addressType === 'currentAddress' ?
        'Current Residing Address (In Detail)' :
        'Permanent/Native Address (In Detail)' }}
    </h4>
    <div class="form-group" *ngIf="addressType === 'permanentAddress'">
      <input name="same_address" type="checkbox" (change)="copyAddress($event)" />
      Same as Current Residing Address
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label for="houseNumber">House Number</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="houseNumber"
          name="houseNumber"
          formControlName="houseNumber"
          autocomplete="off"
          [requiredErrorMessage]="'House number is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.houseNumber')" />
      </div>
      <div class="col-xs-4 ">
        <label for="street">Street</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="street"
          name="street"
          formControlName="street"
          autocomplete="off"
          [requiredErrorMessage]="'Street is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.street')" />
      </div>
      <div class="col-xs-4 ">
        <label for="city">City</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          id="city"
          name="city"
          formControlName="city"
          autocomplete="off"
          [requiredErrorMessage]="'City is required'"
          [patternErrorMessage]="'Only alphabets are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.city')" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label for="state">State</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          id="state"
          name="state"
          formControlName="state"
          autocomplete="off"
          [requiredErrorMessage]="'State is required'"
          [patternErrorMessage]="'Only alphabets are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.state')" />
      </div>
      <div class="col-xs-4 ">
        <label for="pinCode">Pin code</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[0-9]*"
          id="pinCode"
          name="pinCode"
          formControlName="pinCode"
          autocomplete="off"
          [requiredErrorMessage]="'Pincode is required'"
          [patternErrorMessage]="'Only numbers are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.pinCode')" />
      </div>
      <div class="col-xs-4 ">
        <label for="landmark">Landmark</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="landmark"
          name="landmark"
          formControlName="landmark"
          autocomplete="off"
          [requiredErrorMessage]="'Landmark is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.landmark')" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label for="duration">Duration of Stay</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="duration"
          name="duration"
          formControlName="duration"
          autocomplete="off"
          [requiredErrorMessage]="'Duration is required'"
          [patternErrorMessage]="'Only alphabets and numbers are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.duration')" />
      </div>
      <div class="col-xs-4 ">
        <label for="telephone">Telephone</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[0-9+ ]*"
          id="telephone"
          name="telephone"
          formControlName="telephone"
          autocomplete="off"
          [requiredErrorMessage]="'Telephone is required'"
          [patternErrorMessage]="'Only numbers are allowed'"
          [appValidate]="addressDetailsForm.get(addressType + '.telephone')" />
      </div>
    </div>
    <hr *ngIf="addressType === 'currentAddress'">
  </div>
  <div class="row form-group">
    <div class="col-xs-4">
      <label for="remarks">Remarks, if any</label>
      <textarea class="form-control" id="remarks" name="remarks" formControlName="remarks"></textarea>
    </div>
  </div>
</div>
