<div class="row section-container" [formGroup]="addressDetailsForm">
  <h4>Address Details</h4>
  <hr>
  <div *ngFor="let addressType of addressTypes" formGroupName="{{addressType}}">
    <h4 class="title-sixteen">
      {{ addressType === 'currentAddress' ?
        'Current Residing Address (In Detail)' :
        'Permanent/Native Address (In Detail)' }}
    </h4>
    <div class="form-group" *ngIf="addressType === 'permanentAddress'">
      <input name="same_address" type="checkbox" (change)="copyAddress($event)" />
      Same as Current Residing Address
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label for="houseNumber">House Number</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="houseNumber"
          name="houseNumber"
          formControlName="houseNumber"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'houseNumber')}" />
        <span class="text-danger"
          *ngIf="hasRequiredError(addressType, 'houseNumber')">
          House number is required
        </span>
        <span class="text-danger"
          *ngIf="hasPatternError(addressType, 'houseNumber')">
          Only alphabets and numbers are allowed
        </span>
      </div>
      <div class="col-xs-4 ">
        <label for="street">Street</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="street"
          name="street"
          formControlName="street"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'street')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'street')">
          Street is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'street')">
          Only alphabets and numbers are allowed
        </span>
      </div>
      <div class="col-xs-4 ">
        <label for="city">City</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          id="city"
          name="city"
          formControlName="city"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'city')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'city')">
          City is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'city')">
          Only alphabets are allowed
        </span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label for="state">State</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z ]*"
          id="state"
          name="state"
          formControlName="state"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'state')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'state')">
          State is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'state')">
          Only alphabets are allowed
        </span>
      </div>
      <div class="col-xs-4 ">
        <label for="pinCode">Pin code</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[0-9]*"
          id="pinCode"
          name="pinCode"
          formControlName="pinCode"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'pinCode')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'pinCode')">
          Pincode is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'pinCode')">
          Only numbers are allowed
        </span>
      </div>
      <div class="col-xs-4 ">
        <label for="landmark">Landmark</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="landmark"
          name="landmark"
          formControlName="landmark"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'landmark')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'landmark')">
          Landmark is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'landmark')">
          Only alphabets and numbers are allowed
        </span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 ">
        <label for="duration">Duration of Stay</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9 ]*"
          id="duration"
          name="duration"
          formControlName="duration"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'duration')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'duration')">
          Duration is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'duration')">
          Only alphabets and numbers are allowed
        </span>
      </div>
      <div class="col-xs-4 ">
        <label for="telephone">Telephone</label>
        <input
          required
          type="text"
          class="form-control"
          pattern="[0-9+ ]*"
          id="telephone"
          name="telephone"
          formControlName="telephone"
          autocomplete="off"
          [ngClass]="{'has-error': hasError(addressType, 'telephone')}" />
        <span class="text-danger"
              *ngIf="hasRequiredError(addressType, 'telephone')">
          Telephone is required
        </span>
        <span class="text-danger"
              *ngIf="hasPatternError(addressType, 'telephone')">
          Only numbers are allowed
        </span>
      </div>
    </div>
    <hr *ngIf="addressType === 'currentAddress'">
  </div>
  <div class="row form-group">
    <div class="col-xs-4">
      <label for="remarks">Remarks, if any</label>
      <textarea class="form-control" id="remarks" name="remarks" formControlName="remarks"></textarea>
    </div>
  </div>
</div>
